/*-------------------------––––––––––––––––– Universal*/

*{

	font-family: "Akzidenz";

	
	width: 100%;
   /*	overflow-wrap: break-word;*/

	/*overflow-x: hidden;*/

	padding:0;
	margin:0;
   
}

body{
width: 100vw;
}
:root {
--mainFontSize: 36px;
--projectTitleSize: 300%;
}

@font-face{
font-family: "Founders-Grotesk";
src: url("fonts/FoundersGrotesk-Light.ttf");

}

@font-face{
	font-family:"Akzidenz";
	src: url("fonts/Akzidenz Grotesk Roman.ttf");
}

@font-face{
	font-family: "Gt America";
	src:url("fonts/GT-America-Light.ttf");
}



@font-face{
	font-family:"Proxima Nova";
	src:url("fonts/ProximaNova-Regular.ttf");
}
 




.nav{
	
	height: 80px;
	position: fixed;
	z-index: 150;
	/*background-color: white;*/
 	text-align:center;
 	padding-top: 1%;
 	margin-top: 2em;
 	padding-right: 2em;


}

.nav ul li{

	list-style-type: none;
	width: auto;
	display: inline-block;
	float:right;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0 auto;
	

}

.homeNav {
	position: fixed;
	bottom: 2em;
	width: 70px;
	height: 50px;
	display: inline-block;
	right: 4em;
	


}

.navArrow{
	width: 100%;
	height:100%;
	
	
}


span{
	background-color: white;
	color: black;
	padding-left: 0.2em;
	padding-right: 0.2em;
}
li a{
	
	/*font-weight: 200;*/
	/*font-family: 'Proxima Nova';*/
	font-size: 1.5em;
	font-weight: 200;
	text-decoration: none;
	color: black;
	background-color: white;
	
	padding-left: 0.2em;
	padding-right: 0.2em;
	
}

a{
	color: black;
}


a:hover{
	/*background-color: yellow;*/
	color:black;
}

a:visited{
 color: transparent;
  text-decoration: none;
}

/*.imageLink:hover{
	background-color: transparent;
	
	cursor: url("img/igCursor.png"),default;
}

.mediumLink:hover{

	cursor: url("img/mediumCursor.png"),default;
}

.scLink:hover{
	cursor: url("img/scCursor.png"),default;
}

.expandLink:hover{
	cursor: url("img/expandCursor.png"),default;
}*/
.projectThumbnail{
	padding-right: 8em;
	padding-left: 8em;
}

/*------------------------------ End of Universal*/

.intro {
	
	height: 100%;
	background-color: black;
	padding: 0;
	overflow-x: hidden;
	width:100%;
	
}


.addPadding{
/*padding: 15px;*/
}
.introText{
	font-size: var(--mainFontSize);
	line-height: 1.3em;
	position: relative;
	width: 100%;
	margin-top:25%;
	margin-bottom: 20%;
	color: white;
	padding: 1em;
	/*margin-left: 2.2em;
	margin-right:2.2em;
	padding-right: 2.2em;*/

	
		/*background-color: white;*/
}

.affix{
	top:-200px;	/* relative to original position, 0 = what top was set to in intro text*/
	z-index: 50;
}

.workIntro{
	height:100%;
	/*height: 95vh;*/
	background-color: #FF0011;
	overflow-x: hidden;
	
}

.workIntroText{
	font-size: var(--mainFontSize);
	line-height: 1.3em;
	position: relative;
	margin-top:55%;
	color: white;
	margin-bottom: 40%;
	padding:1em;
	margin-left: 2.3em;
	margin-right:1em;

}

.summerPlanPage{
	height: 100%;
	background-color: white;
	padding: 0;

}

.summerPlanText{
		padding-top: 15vh;
		margin-top: 15vh;
	

}
.summerPlanText1{
	font-size: var(--mainFontSize);
	line-height: 1.3em;
	position: relative;
	color: #0B0B0B;
	width: 90%;
	padding-top: 10vh;
	margin-left: 2.2em;
	margin-right:1em;
	padding-right: 2em;
	padding-left: 1em;
	
	
}
.summerPlanText2{
	font-size: var(--mainFontSize);
	line-height: 1.3em;
	position: relative;
	margin-top: 10vh;
	color: #0B0B0B;
	width:90%;
	margin-bottom: 4em;
	margin-left: 2.2em;
	margin-right:2em;
	padding-right: 1.5em;
	padding-left: 1em;
	
	

}
.summerProjects{
margin-top: 4%;
margin-bottom: 10%;
/*margin-left: 1em;*/
position: relative;
padding: 0;
width: 100%;

}


.project1{

margin-top: 0;
margin-bottom: 10%;




}


.project2{
	margin-bottom: 10%;

}

.thumbnailShadow{
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
}

.project1BG{

height: 70vh;
width: 100%; 
background-color: black;
overflow: hidden;
margin-left: 1em;
cursor: pointer;
border-radius: 8px;



}

.project1:hover{

	
}

.project2BG{
margin-left: 1em;
height: 70vh;
width: 100%;
background-color: black;
overflow: hidden;
cursor: pointer;
border-radius: 8px;

}

.projectDuration{
	font-family: 'Helvetica';
	padding-top: 10%;
	padding-left: 7.5%;
	color: white;
	font-size: 150%;
	font-weight: 200;
	
}

.projectTitle{
	padding-left: 7.5%;
	padding-right: 7.5%;
	font-family: 'Helvetica';
	color: white;
	font-size: 3.6em;
	font-weight: 100;
	width:90%;
	line-height: 1.3em;
}


.projectDuration2{
	font-family: 'Helvetica';
	padding-top: 10%;
	padding-left: 7.5%;
	color: white;
	font-size: 150%;
	font-weight: 200;
	
}

.projectTitle2{
	padding-left: 7.5%;
	padding-right: 7.5%;
	font-family: 'Helvetica';
	color: white;
	font-size: 3.6em;
	font-weight: 100;
	width:100%;
}


.phone{
float: right;
transform: scale(1.01);
width: 50%;

}

.desktop{
	margin-left: 25%;
	padding-top: 1em;
	transform: scale(1.01);

}



.moreWorkPage{
	height: 100%;
	background-color: #ECEAEA;
	padding: 0;

}
.moreWorkText{
	font-size: var(--mainFontSize);
	line-height: 1.3em;
	position: relative;
	top:15vh;
	color: #0B0B0B;
	width:85%;
	height: 100%;
	margin-bottom: 3.2em;
	margin-left: 2.2em;
	margin-right:2em;
	padding-right: 1.5em;
	padding-left: 1em;
	padding-top: 25vh;
	

}

.moreWork{
	
	
}

.googleSound{
margin-top: 0;
margin-bottom: 10%;

height: 100%;
display: block;

}


.googleProjectDuration{
	font-family: 'Helvetica';
	padding-top: 10%;
	padding-left: 7.5%;
	color: white;
	font-size: 150%;
	font-weight: 200;

}

.googleTitle{
	padding-left: 7.5%;
	font-family: 'Helvetica';
	color: white;
	font-size: 3.6em;
	font-weight: 100;
	width:90%;
	line-height: 1.3em;
}



.googlePreviewBox{
	position: relative;
	height: 100%;
	z-index: 99;
	opacity: 1;
	display: none;

}

.googleSoundBG{

/*height: 100%;*/
height: 500px;
width: 100%; 
background-color: black;
overflow: hidden;
margin-left: 1em;
cursor: pointer;
border-radius: 8px;



}

.googlePreviewText{
	font-size: var(--mainFontSize);
	padding: 1em;
	color: black;
	position: relative;
	margin-top: 0%;
	width: 105%;

}

.googleCloseButton{

	opacity: 1;
	margin-top: 20%;
	margin-left: 2.5em;
}

.ktoSound{
margin-top: 0;


height: 100%;
display: block;

}

.ktoSoundBG{

/*height: 100%;*/
height: 500px;
width: 100%; 
background-color: black;
overflow: hidden;
margin-left: 1em;
cursor: pointer;
border-radius: 8px;


}


.ktoProjectDuration{
	font-family: 'Helvetica';
	padding-top: 10%;
	padding-left: 7.5%;
	color: white;
	font-size: 150%;
	font-weight: 200;
}

.ktoTitle{
	padding-left: 7.5%;
	font-family: 'Helvetica';
	color: white;
	font-size: 360%;
	font-weight: 100;
	width:90%;
	line-height: 1.3em;
	
}


.ktoPreviewBG{

/*height: 100%;*/
min-height: 500px;
height: 100%;
width: 100%; 
overflow: hidden;
margin-left: 1em;
cursor: pointer;
border-radius: 8px;
}

.ktoPreviewBox{
	position: relative;
	height: 100%;
	z-index: 99;
	opacity: 1;
	display: none;
	
	
	
}

.ktoPreviewText{
	font-size: var(--mainFontSize);
	padding: 1em;
	color: black;
	position: relative;
	margin-top: 0%;

}

.ktoCloseButton{
	opacity: 1;
	margin-top: 20%;
	margin-left: 2.5em;

}

.closeButton{
	height: 24px;
	width: 24px;
	background-image: url("img/closeButton.svg");
	position: relative;
	
}


.moreProjects{
	margin-top: 25vh;
	margin-bottom: 20%;
}



.col-centered{
	float: none;
	margin: 0 auto;
}
.musicIntro{
	height: 90%;
	background-color: black;
	

}

.musicIntroText{

	font-size: var(--mainFontSize);
	line-height: 1.3em;
	
	color: white;
	
	width: 90%;
	padding-left: 0.7em;
	padding-right: 0.7em;
	margin: 0 auto;
	margin-bottom: 30vh;
	margin-top:10vh;
	padding-top: 30vh;
}


.musicPage{
	background-color: black;
	padding: 0;

}

.dayOff{
	
	
}

.dayOffContainer{
		margin-bottom: 10%;
		left:50%;

}
.dayOffIG{
	height: 500px;
	background-image: url('img/dayOffThumbnail.png');
	width: 500px;
	background-size: 100%;
	margin: 0 auto;
	margin-bottom: 30vh;
	
}

.dayOffText{
	font-size: var(--mainFontSize);
	line-height: 1.3em;
	
	

}

.dayOffDescription{
	

color: white;
}


.derridasTheory{
color: white;


height: 100%;


}

.derridasTheoryText{
	padding-left: 1.7em;
	margin-bottom: 28vh;
	color: white;
	z-index: 99;
	width: 90%;
	font-size: var(--mainFontSize);
	line-height: 1.3em;

}

.instafeed{
display: inline-block;

margin: 0 auto;
margin-bottom: 28vh;
padding-right: 10%;
padding-left: 10%;


}

.imageGrid{
	width: 300px;
	height:300px;
	margin: 3vh auto;
	background-size: 100%;

	
}

.imageGrid:hover{

}

.thumbnail1{

	background-image: url('img/bigFlowsThumbnail.png');

}

.thumbnail2{
	background-image: url('img/inOrbitThumbnail.png');
}
.thumbnail3{
	background-image: url('img/hillsThumbnail.png');
}
.thumbnail4{
	background-image: url('img/bigFlowsOutroThumbnail.png');
}
.thumbnail5{
	background-image: url('img/thinkThumbnail.png');
}
.thumbnail6{
	background-image: url('img/xThumbnail.png');
}
.thumbnail7{
	background-image: url('img/sandmanThumbnail.png');
}
.thumbnail8{
	background-image: url('img/flightCoverThumbnail.png');
}
.thumbnail9{
	background-image: url('img/hillsCoverThumbnail.png');
}

.restOfMusic{
		margin-bottom: 30vh;
}
.restOfMusic p{

	margin: 0 auto;
	font-size: var(--mainFontSize);
	color: white;
	z-index: 99;
	width: 90%;

}




.restOfMusic a:hover{
	color:black;
}
.contactPage{
	height: 100%;
	
	background-color: #ECEAEA;
	font-size: var(--mainFontSize);
	line-height: 1.3em;
	padding-left:3em;
	padding-right: 2em;
	color: black;
	padding-top: 2em;
	padding-bottom: 2em;

}
.contact{
	

	
}

.email{
	margin-top: 1em;
	padding-right: 100px;

}


.igHandle{
	margin-top: 1em;
	height: 100%;

	

}

.profile{
	
}
.resume{
	
	margin-top: 1em;
}

.linkedIn{
padding-bottom: auto;
height: 100%;

margin-top: 1em;
}



/*-------------------------STATES------------------------------------*/

.fadeOut{
	background-color: #ECEAEA ;
	transition: background-color .15s ease-in-out;
}

.show{
	opacity: 1;
	transition: opacity .15s ease-in-out;
	transition-delay: 0.05s;
}

.hideIt{
	opacity: 0;
	transition: opacity .15s ease-in-out;
	transition-delay: 0.05s;
}



.blackText{
color: black;
transition: color .15s ease-in-out;

}

.whiteText{
color:white;
transition: color .15s ease-in-out;
}

.scaleUp{
	transform: scale(1.01);
	transition: transform .15s ease-in-out;
}

.scaleDown{
	transform: scale(1);
	transition: transform .15s ease-in-out;
}


.moveUp{
	margin-top: -40%;
}

/*--------- Media Queries ----------------- */
@media screen and (max-width: 850px){
	.nav{
	
	position: fixed;
	height: 4em;
/*	margin-left: 5%;
	float: left*/
	}

}

@media screen and (max-width: 850px){
	.nav ul li{
	list-style-type: none;
	width: auto;
	/*float: left;*/
	padding: 0.35em;
	margin: 0.8em;
	display: inline-block;
	text-decoration: underline;
	
	

		}
	}

@media screen and (max-width: 600px){
	li a{
	font-size:0.9em;


	}
}



@media screen and (max-width: 850px){
	.leftText{
	font-size: 2.5em;

	margin-left: 0em;
	margin-right:0em;
	padding-right: 0em;
	padding-left: 1em;
	width: 100%;
	}

}

@media screen and (max-width: 850px){
	.projectTitles {
		font-size: 3.2em;
	}
}


@media screen and (max-width: 850px){
	.projectThumbnail{
	
	padding-left: 2em;
	padding-right: 2em;
	}

}


@media screen and (max-width: 850px){
	.dayOffIG {
	height: 320px;
	width: 320px;
	margin-bottom: 30vh;
	}
}

@media screen and (max-width: 850px){
	.contactPage{
		font-size: 1.5em;
		padding-left:1em;
		padding-top: 5vh;


	}
}


@media screen and(max-width: 1205px){
	.moreWorkText{
		
	}
}


